body {
  font-family: "Open Sans", sans-serif;
  color: #292b2c;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
h1 {
  font: 500 1.25rem "Lobster", cursive;
  text-align: left;
  color: white;
  font-family: 'Myriad Pro Regular';
}
h2 {
  text-align: center;
  color:white;
  font-family: 'Myriad Pro Regular';
}
p {
  text-align: center;
  color:white;
  font-family: 'Myriad Pro Regular';
}

img {
  height: 100px;
  width: 100px; 
}
.container{
  background-image: url(./background.jpg);
  height: 100%;
  width: 100%; 
}

.photo {
  height: 100%;
  width: 100%;
}
p {
  color:black;
  font-family: 'Myriad Pro Regular';
  position: absolute;
  top: 4rem;
  margin: 0 2rem;
  color: black;
  font-size: 1.5em;
}
p1 {
  color:black;
  font-family: 'Myriad Pro Regular';
  position: absolute;
  top: 5rem;
  margin: 0 2rem;
  color: black;
  font-size: 1.5em;
}
figcaption {
  position: absolute;
  top: 2rem;
  margin: 0 10rem;
  color: black;
  font-size: 1.5em;
}
h1, h2 {
  color: black;
}
.photoo {
  height: 33.3%;
  width: 33.3%;

}
hr {
  width: 100%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b7d0e2;
  border: 0 none;
}
