* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgray;
    color: black;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    opacity: 0.5;
}
nav-logo {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

}
.logos {
    font-size: 150px;
    font-weight: 90000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 32%;
}
nav .nav-links a {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;

}
nav .nav-links a:hover {
    border-bottom: 1px solid #fff;
}
nav .burger i {
    font-size: 20px;
}
nav .burger {
    font-size: 28px;
    display: none;
    cursor: pointer;
}
@media all and (max-width: 768px) {
    nav .burger {
        display: block;
    }


nav .nav-links {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: lightgray;
    padding: 40px;
    width: 50%;
    transform: translateX(-500px);
}
nav .nav-links li {
    padding: 25px;
    border-bottom: 1px solid #ccc;
}
nav .nav-links li:last-of-type {
    border-bottom: 0px solid #ccc;
}
nav ,nav-links a:hover {
    border-bottom: 0px solid #fff;
}
}
.main-section {
    
    background-image: url(pexels.jpg);
    width: 100%;
    height: 90vh;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.about-section {
    height: 100vh;
    background-color: black;
    color: white;
}
.skill {
    background-color: lightslategray;
    
}
.contact-section {
    height: 30vh;
    background-color: lightslategray;
}
p {
    color:black;
    font-family: 'Myriad Pro Regular';
    position: absolute;
    top: 24rem;
    margin: 0 20rem;
    color: orange;
    font-size: 2em;
  }
p1 {
    color:black;
    font-family: 'Myriad Pro Regular';
    position: absolute;
    top: 5rem;
    margin: 0 2rem;
    color: black;
    font-size: 1.5em;
  }
  figcaption {
    position: absolute;
    top: 13rem;
    margin: 0 13.5rem;
    color: white;
    font-size: 4.5em;
  }
h1{
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}